


/*************************
*******Typography******
**************************/

body 
{
  font-family: 'Dosis', sans-serif !important;
  font-size: 17px;
  color: #fff;
  	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}
.tata {
    color:#000 !important;
}
.frm {
    padding:10px;
    background:#fff;
}
.upload p {
    color:#000 !important;
}
.vent a {
    border:2px solid #f9ab00;
    padding:5px;
    color:#f9ab00 !important;
}
.fa-2x 
{
    padding-top:20%;
}
.page_half 
{
   
}
.pp 
{
    padding-top:215px;
}
.main-nav .container 
{
    padding-left:0px !important;
    padding-right:0px !important;
}

.main-nav1 .container 
{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-bottom:300px !important;
}
.titls 
{
    color:#222 !important;
}
.btn 
{
  border-radius: 0;
 font-family: 'Yanone Kaffeesatz','sans-serif' !important;
  font-size: 20px;
  padding: 9px 23px;
}
.bb 
{
    background-color: #990000 !important;
    color: #fff;
    text-transform: uppercase;
    border: none;
    margin-top: 0px;
}
.form-control {
    border-radius:0px;
    border:1px solid #202e31 !important;
}
input {
    border-color:#202e31;
}
a 
{
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover 
{
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing:1px;
}

#home_test h2 {
  font-size: 36px;
  color:#202e31 !important;
  margin-top:50px;

  margin-bottom:20px;
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  padding: 25px;
  z-index:9999999999;
  margin-bottom:50px;
}
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.main-nav1 {
  position: absolute;
  width: 100%;
  z-index: 999;
}
#home_test {
         overflow:hidden;
     position:relative;
     background: url(../images/bg-content.png) repeat;
}
.main-nav1 {
  position: absolute;
  width: 100%;
  z-index: 999;
}
#inside {
    width:100%;
    height:216px;
     background:url("../images/mast.png");
     background-size:100%;
     overflow:hidden;
     position:relative;
}
.main-nav 
.container {
  width: 100%
}
.main-nav1 
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
  background-color: #1B7B98;
  height: 90px !important;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -23px;
  left: 30px;
}

.navbar-right {
  background-color: #1B7B98;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 20px !important;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  margin-right: 10%;
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 15px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: block;
}



/*************************
*******Home CSS******
**************************/

/* #home {
  position: relative;
  overflow: hidden;
} */

#main-slider img {
  width: 100%
}

#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}


#main-slider 
.carousel-caption h2 {  
  font-size: 38px;
 
}

#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}


@media only screen and (max-width: 600px) 
         {	
		   #btnright{    
			position: absolute;
			right: 0;
			height: 92px;
			width: 100px;
			background: url(images/menu-nav.png) 35px 28px no-repeat #1b7b98;
			border: none;
			top: 15px;

		   }


           .navbar-right li a 
           {
                padding: 15px 20px !important;
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
                font-family: 'Yanone Kaffeesatz', 'sans-serif';
                font-weight: 300;
            }

            #slidediv
             {
                min-height: 92px;
                display: none;
                width: 100%;
                /* padding-top: 14px; */
            }

		}
				
				
		@media only screen and (max-width: 600px) 
        {
	        
			
		   #btnright
           {    
			position: absolute;
			right: 0;
			height: 92px;
			width: 100px;
			background: url(images/menu-nav.png) 35px 28px no-repeat #1b7b98;
			border: none;
			}
				
         }